[submodule "bats/lib/bats-core"]
	path = bats/lib/bats-core
	url = https://github.com/bats-core/bats-core.git
	branch = master
[submodule "bats/lib/bats-file"]
	path = bats/lib/bats-file
	url = https://github.com/bats-core/bats-file.git
	branch = master
[submodule "bats/lib/bats-assert"]
	path = bats/lib/bats-assert
	url = https://github.com/bats-core/bats-assert.git
	branch = master
[submodule "bats/lib/bats-support"]
	path = bats/lib/bats-support
	url = https://github.com/bats-core/bats-support.git
	branch = master
[submodule "tools/check-spelling"]
	path = .github/actions/spelling/check-spelling
	url = https://github.com/check-spelling/check-spelling.git
